*{
    margin: 0%;
    padding: 0%;
}
.imagem{
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    
}
.login{
    /*
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    */
    width: 30%;
    margin-top: 10%;
    font-size: 34px;
    color:brown;
   

    
    
    
}
.centralizar {
    display: flex;
    justify-content: center;
    /*
    align-items: center;
    text-align: center;
    */
}
