
*{
    margin: 0%;
    margin: 0%;
};
:root{
    --cor-primaria: #ADB2D4;
    --cor-secundaria:#C7D9DD;
    --cor-terciaria:#C7D9DD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.navbar{
    background-color: #e3f2fd;
}
h2{
    text-align: center;
}
.borde-margin{
    margin-left: 25%;
    margin-right: 25%;
   
}
.row{
    border-style: solid;
     padding: 0.5%;
     background-color: #C7D9DD ;
     border-radius: 10px;

}
    