:root{
    --cor-primaria: #ADB2D4;
    --cor-secundaria:#C7D9DD;
    --cor-terciaria:#C7D9DD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
.body{
    background-color: var(--cor-primaria);
}
*{
    margin: 0%;
    margin: 0%;
}
.navbar{
    background-color: var(--cor-secundaria);
}
h2{
    text-align: center;
}
.borde-margin{
    margin-left: 1%;
    margin-right: 1%;
   
}
.roda-pe{
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 1%;
}