<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link css e bootstrap  -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Atualizar</title>
</head>
<body style="background-color: #ADB2D4">
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Livros</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/cadastrar}">Cadastrar</a></li>
                <li>
                  <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="@{/listaLivro}">Lista de Livros</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
  </header>
  <main>
    <center>
    <div>
    <h2>Atualizar Livros</h2>
    </div>
    </center>
    <section>
     <div style="max-width: 600px; margin: 0 auto;">
      <form th:action="@{/salvarLivro}" th:object="${livro}" method="post">
        <div class="row" id="forms">
          <div class="col-md-12">
            <div class="thumbnail">
               <div class="mb-3 ">
                 <label for="id" class="form-label"><b>ID:</b></label>
                 <input type="text" th:field="*{id}"class="form-control" id="ID" readonly>
              </div>
              <div class="mb-3">
                <label for="livro" class="form-label"><b>Nome do Livro:</b></label>
                <input type="text" th:field="*{nomeLivro}" class="form-control" id="livro" required>
              </div>
              <div class="mb-3">
                <label for="autor" class="form-label"><b>Autor:</b></label>
                <input type="text" th:field="*{autor}" class="form-control" id="autor" required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="thumbnail">
              <div class="mb-3">
                <label for="quantidade" class="form-label"><b>Quantidade</b></label>
                <input type="number" th:field="*{quantidade}" class="form-control" id="quantidade" required>
              </div>
              <div class="mb-3">
                <label for="Categoria" class="form-label"><b>Categoria:</b></label>
                <input type="text" th:field="*{categoria}" class="form-control" id="Categoria" required>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="mb-3">
                <label for="localizacao" class="form-label"><b>Localização:</b></label>
                <input type="text" th:field="*{localizacao}" class="form-control" id="localizacao" required>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center gap-3 mt-3">
            <button type="submit" class="btn btn-primary"
              style="width: 10em; border-radius: 6em;"><b>Atualizar</b></button>
          </div>
        </div>
      </form>
     </div>
    </section>
    </form>
  </main>
  <br>
  <footer class="roda-pe">
    <h6 style="text-align: center">todos os direitos reservados RodrigoSoares@2025</h6>
  </footer>
</body>
</html>